%h3
  Adolescents
Adolescents respond well to a flexible approach incorporating play and regular “talk therapy”.  Play can be a way to communicate anxiety and frustration as well as way to talk about their lives in a setting that feels less stilted. With the increased stress of academic standards, climbing social pressures and feelings of awkwardness that accompany puberty it is easy for adolescents to feel alone with their feelings. Not only will I provide your adolescent with a place to explore conflicted feelings and develop coping skills but I will help you be sensitive to their changing needs.
%p
  %h3
    Teenagers
  It has never been easy to be a teenager – in limbo somewhere between depending on your parents and desperately wanting to be free of them. Many teens I work with feel  are struggling to form a cohesive sense of self because of the conflicting values they are encountering within their families or origin, peer groups and neighborhoods. It can be difficult for a teen to feel they can confide in their parents for a variety of reasons and sometimes a non-biased neutral adult feels safer. Ultimately, the goal is that your teen is able to  navigate their worlds feeling more empowered to ask for help when needed and take responsibility for their actions.
