%h3
  Adults

I believe the first step to a productive therapy experience is creating a supportive and safe environment where people can begin to wonder about themselves and the important changes they would like to make. Through empathy, warmth and insight I have helped many people who feel ambivalent about the therapy process gain confidence, clarity and self-awareness.
%p
  I practice Interpersonal psychodynamic therapy which in simple terms means that I believe the relationship between client and therapist is an essential part of the process. The therapy room can be considered a microcosm of your outside world and naming and clarifying experiences and dynamics that occur between us can help foster the development of insight and helpful solutions. With my support and guidance these corrective experiences can heal old wounds and shift maladaptive thoughts and patterns to help you feel more balanced and fulfilled with your life.
