.approach
  %p
    My approach

  %p
    The best description of my approach would be that I practice Interpersonal psychodynamic therapy which in simple terms means that I believe the relationship between client and therapist is an essential part of the process. The therapy room can be considered a microcosm of your outside world and naming and clarifying experiences and dynamics that occur between us can help foster the development of insight and helpful solutions. With my support and guidance these corrective experiences can heal old wounds and shift maladaptive thoughts and patterns to help you feel more balanced and fulfilled with your life.

  %p
    My work with children and adolescents differs in the sense that play is often used as an additional medium to encourage the expression of feelings. Adults work through there issues through verbalization while play is the main form of communication for children and a helpful facilitator for some adolescents. I will help your child put words to his or her thoughts and feelings and help you better understand how to support his or her needs. I believe regular parenting sessions are helpful in my understanding of your child, the needs of your family and in developing the best set of interventions.