#background
  .header
    Education
  %ul#education
    %li
      New York Institute for Psychotherapy Training (NYIPT), Advanced Certificate
    %li
      New York University Silver School of Social Work, Masters in Social Work
    %li
      Georgetown University, BA in Psychology
