#background
  .header
    Education

  %ul#education
    %li
      New York Institute for Psychotherapy Training (NYIPT), Advanced Certificate
    %li
      New York University Silver School of Social Work, Masters in Social Work
    %li
      Georgetown University, BA in Psychology

  .header
    Experience
  %p
    I have been a Psychotherapist and Counselor at Brooklyn Women and Family Counseling Services in Bay, Ridge Brooklyn since 2009. I work with children/adolescents and their parents, adults, and couples. Previously, I worked as a school psychotherapist which has enabled me to understand how to better collaborate with school staff and advocate for children to get the services and support they need both in and out of school. I am in the process of starting a private practice in Brooklyn, NY.

