%h3
  Children

Play is how children learn about and explore their worlds and in therapy it is often their main mode of communication.  Through play therapy I will help your child communicate his or her inner world so I can better assess what treatment goals to implement. I will help your child put words to his or her thoughts and feelings and help you manage your own emotions in order to be more attuned to your child. I believe regular parent sessions are helpful in my understanding of your child, the needs of your family and in developing the best set of interventions.
