#contact_info
  .header{:style => 'margin-bottom: 20px;'}
    Rates
  %table#rates_table
    %tbody
      %tr
        %td{:style => 'width: 330px'}
          Individual Psychotherapy
        %td
          45 minutes
        %td
          $120
      %tr
        %td
          Family Psychotherapy
        %td
          60 minutes
        %td
          $150
      %tr
        %td
          Couples Psychotherapy
        %td
          60 minutes
        %td
          $150
  %p        
    I am an out-of-network provider eligible for reimbursement by many PPO insurance plans. I work on a sliding scale fee from $80 to $120 for individual psychotherapy and play therapy.

.header{:style => 'margin-bottom: 20px;'}
  Map

#google_map
  %img{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=26+Court+Street+Brooklyn,NY&zoom=16&size=400x400&sensor=false&markers=color:red%7C26+Court+Street+11201'}
