#google_map
  %img{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=699+Sackett+Street+Brooklyn,NY&zoom=15&size=400x400&sensor=false&markers=color:red%7C699+Sackett+Street+11217'}

#contact_info
  #phone
    Phone: 646-783-8514
  #email
    Email: 
    %span.padding bazlcsw@gmail.com
  #office
    Office: 699 Sackett Street
    #address
      Brooklyn NY, 11217

