#google_map
  %img{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=26+Court+Street+Brooklyn,NY&zoom=15&size=400x400&sensor=false&markers=color:red%7C26+Court+Street+11201'}

#contact_info
  #phone
    Phone: 646-783-8514
  #email
    Email: 
    %span.padding bazlcsw@gmail.com
  #office
    Office: 26 Court Street, Suite 2703
    #address
      Brooklyn NY, 11201

