.education
  .education_header
    Education


  %p
    New York Institute for Psychotherapy Training (NYIPT)
  %p
    Second year candidate

  %p
    New York University (2006-2008)
  %p
    Masters in Social Work, School of Social Work

  %p
    Georgetown University, (2000-2004)
  %p
    Bachelor of Arts, College of Arts and Science, Washington, DC, 2004
