.education
  .education_header
    Education


  %p
    New York Institute for Psychotherapy Training (NYIPT)

  %p
    New York University Silver School of Social Work - MSW

  %p
    Georgetown University, BA Psychology
