.introduction
  .tree_image
    = image_tag('green_tree.jpg')
  .intro_text  
    I believe the first step to a productive therapy experience is creating a supportive and safe environment where people can begin to be curious about themselves and the important changes they would like to make. My certificate from New York Institute for Psychotherapy Training has helped me develop an expertise in working with children, adolescents and their parents through the modalities of play, traditional psychotherapy and parenting support and coaching.
    %p
      It has also deepened my understanding of the various developmental factors that have contributed to the personality structures of my adult clients. I believe that explanations can be found in our histories and that solutions can be found in our present. Whether you feel dissatisfied with your personal relationships trapped, repeating unhealthy patterns or struggling with a life change, I believe I can help you feel more in control. I have experience helping those with mood disorders, trauma histories, adjustment disorders, bereavement and issues related to sexuality, gender and identity.



