.introduction
  .intro_text
    #babypee
    I am a licensed clinical social worker with specialized training working with children, adolescents and their parents. Bringing your child to therapy is an important and perhaps overwhelming decision and it is my role to help you and your child feel safe, understood and empowered to find solutions that help your family. Through play therapy, traditional psychotherapy and parenting support and coaching I will encourage the expression of feelings and development of coping skills.
    %p
      In addition to my work with families I am also adept at helping young adults deal with issues related to identity and intimacy- both dominant issues during this life stage.
  #presenting_problem_list  
    .header
      Children
    %ul
      %li Separation anxiety/ school phobia
      %li Disruptive behavior at home or school
      %li ADD/ADHD
      %li Emotion regulation and coping
      %li Social skills

    .header
      Adolescents / Teens
    %ul
      %li Oppositional behavior
      %li Parent - child conflict
      %li Self esteem
      %li Peer group conflict
      %li Depressive and Anxiety Disorder

    .header
      Adults
    %ul
      %li Depression
      %li Anxiety
      %li Relationship and intimacy issues
      %li Difficulty adjusting to life changes
