#stripe
  #alexa_image
  #sub_header
    Child
    %br
    Adolescent
    %br 
    Adult
    Psychotherapist
    %br
    %br
    .sub_sub
      Brooklyn Heights, NY    


#left_bar
  #brief  
    .intro_text
      I am a licensed clinical social worker with specialized training working with children, adolescents and their parents. I am also adept at helping young adults deal with issues related to identity and intimacy- both dominant issues during this life stage.
      %p
        Starting therapy is an important and perhaps overwhelming decision. For parents, it is my role to help you and your child feel safe, understood and empowered to find solutions that strengthen your family. For individuals, I will help focus our work so you can realize your goals, whether they be linked to your career, relationships or identity issues.
      %p
        Through play therapy, traditional psychotherapy and parenting support and coaching I will encourage the expression of feelings and development of coping skills.

.introduction
  #help_with
    #presenting_problem_list  
      .presenting_problem_group
        .header
          Children
        %ul
          %li Separation anxiety / school phobia
          %li Disruptive behavior
          %li ADD/ADHD
          %li Emotional regulation and coping
          %li Social skills
          %li Adoption

      .presenting_problem_group
        .header
          Adolescents / Teens
        %ul
          %li Oppositional behavior
          %li Parent - child conflict
          %li Self-esteem
          %li Peer conflict
          %li Mood disorders
          %li Divorce / blended families

      .presenting_problem_group
        .header
          Adults
        %ul
          %li Relationship and intimacy issues
          %li Depression
          %li Anxiety
          %li Difficulty adjusting to life changes
          %li Parenting
          %li Infant-Parent attachment


  = link_to 'Contact Me', 'mailto:bazlcsw@gmail.com?subject=Appointment+Request', :class =>"contact_button"
