.hidden {
		display: none;
}

body {
    margin: 0px;
    background-image: url('/assets/images/wild_oliva.png');
}

#header {
		background-image: url('/assets/images/wild_oliva.png');
}

.header_image {
    width: 1040px;
    box-shadow: 5px -5px 20px, -5px -5px 20px;
    display: block;
    margin: 0 auto;
    height: 329px;
}

.jello-layout {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.default-font {
    font-family: "Palatino", "Georgia", "Baskerville", serif;
    font-size: 19px;
    line-height: 120%;
}

#content {
    background-color: #CBDAD5;
    padding: 20px;

    box-shadow: 5px -5px 20px, -5px -5px 20px;
}

#title {
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}

#title_text {
    color: black;
}


.header {
    font-size: 28px;
    font-weight: bold;
}

.nav_link {
    font-size: 23px;
    margin-left: 12px;

    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    background-color: #000;
    color: #000;
    height: 5px;
    border: none;
}

footer {
    margin-top: 120px;
    font-size: 28px;
    line-height: 120%;
}

#left_bar {
    clear: left;
    float: left;
    height: 600px;
    width: 330px;
}

#inner_content {
    padding: 10px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
		cursor: pointer;
}

a:visited {
    color: #1A1F1E;
}

a:link {
    color: #1A1F1E;
}

.presenting_problem_group {
    font-size: 16px;
    margin-top: 30px;

}

#presenting_problem_list {
    margin-top: 30px;
}

#presenting_problem_list ul {
		margin-top: 4px;
}


#presenting_problem_list .header {
		font-size: 20px;
}


#education {
    margin-bottom: 47px;
}

#education li {
		margin-bottom: 10px;
		list-style-type: none;
		position: relative;
		left: -20px;
}


#experience_text {
    padding-left: 20px;
}

p#second_p {
    margin-top: 30px;
    margin-left: 6px;
}

#address {
    margin-left: 63px;
}

.padding {
    padding-left: 7px;
}

#google_map {

}

#contact_info {
    margin-top: 20px;
    padding-top: 30px;
    margin-bottom: 50px;
}

#phone, #email {
    margin-bottom: 30px;
}

#brief {
    margin-top: 20px;
    padding: 14px;
    border: 1px black solid;
    border-radius: 6px;
    background-color: #CBDAD5;
}

.introduction {
    margin-left: 400px;
}

#alexa_image {
    background-image: url('/assets/images/alexa3.jpg');
    width: 224px;
    height: 220px;
    background-size: 100%;
    margin-right: 20px;
    border-radius: 9px;
    float: left;
    margin-left: 30px;
}

.float_right {
    float: right;
}

.center {
    margin-top: 60px;
    margin-left: 250px;
}

.float_left {
    float: left;
}


.contact_button {
		-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
		-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
		box-shadow:inset 0px 1px 0px 0px #caefab;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
		background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
		background-color:#77d42a;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #268a16;
		display:inline-block;
		color:#306108;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:8px 34px;
		text-decoration:none;
		text-shadow:1px 1px 0px #aade7c;

		margin-top: 40px;
		margin-left: 30px;
}
.contact_button:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
		background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
		background-color:#5cb811;
}
.contact_button:active {
		position:relative;
		top:1px;
}
.contact_button:visited{
    color:#306108;
}

#sub_header {
    z-index: 100;
    font-size: 40px;
    line-height: 40px;
}

.sub_sub {
    font-size: 30px;
    line-height: 30px;
    margin-left: 240px;
    float: right;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
								color: black;
						}

.sf-menu a { /* visited pseudo selector so IE6 applies text colour*/
    padding: 0 1em;
}

.sf-menu ul li a {
    padding: .75em 1em;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.sf-menu ul li:first-child a {
    border-top: 1px solid black;
}

.sf-menu ul li:last-child a {
    border-bottom: 1px solid black;
}

.sf-menu li {
    background:	#CBDAD5;
}

.sf-menu li.sfHover ul {
    left: 0;
    top: 1.0em;
    z-index: 99;
    border-color: #676d84;
}

.sf-menu li.sfHover ul li {
    background-color: #676d84;
}

.sf-menu li.sfHover ul li a{
    border-width: 0;
}

#top_bar {
    height: 60px;
    background-color: #CBDAD5;
}

#help_with {
    margin-left: 30px;
    margin-top: 100px;
}

#stripe {
    background-color: rgba(0, 0, 0, 0.2);
    padding-right: 100px;
    position: relative;
    left: -30px;
    width: 940px;
    padding-bottom: 35px;
}

#background {
    margin-top: 10px;
}

#rates_table {
    margin-left: 10px;
    width: 650px;
}

#rates_table tr {
		height: 30px;
}
