// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #9BA3A1;
$title_box_height: 60px;

$black: #1A1F1E;
$offwhite: #CBDAD5;

body {
    margin: 0px;
    background-color: $grey;
}

#header {
    height: 229px;
    background-image: url('room_with_windows.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1040px 500px;
    background-color: $black;
}

@mixin jello-layout {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@mixin default-font {
    font-family: "Palatino", "Georgia", "Baskerville", serif;
    font-size: 19px;
    line-height: 120%;
}

#content {
    @include jello-layout;
    @include default-font;
    background-color: $offwhite;
    padding: 20px;
}

#title {
    @include default-font;
    margin-left: 10px;
    font-size: 42px;
    font-weight: bold;
 }

#title_text {
    color: black;
}


.header {
    font-size: 28px;
    font-weight: bold;
}

.nav_link {
    font-size: 23px;
    margin-left: 12px;

    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    background-color: #000;
    color: #000;
    height: 5px;
    border: none;
}

footer {
    margin-top: 120px;
    height: 80px;
    font-size: 30px;
}

#left_bar {
    clear: left;
    float: left;
    height: 600px;
    width: 330px;
}

#inner_content {
    padding: 10px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

a:visited {
    color: $black;
}

a:link {
    color: $black;
}

.presenting_problem_group {
    font-size: 16px;
    margin-top: 30px;

}

#presenting_problem_list {
    margin-top: 30px;
    ul {
	margin-top: 4px;
    }

    .header {
	font-size: 20px;
    }
}

#education {
    margin-bottom: 47px;

    li {
	margin-bottom: 10px;
	list-style-type: none;
	position: relative;
	left: -20px;
    }
}

#experience_text {
    padding-left: 20px;
}

p#second_p {
    margin-top: 30px;
    margin-left: 6px;
}

#address {
    margin-left: 63px;
}

.padding {
    padding-left: 7px;
}

#google_map {
    float: right;
    margin-right: 100px;
}

#contact_info {
    margin-top: 120px;
    padding-top: 30px;
    margin-bottom: 170px;
}

#phone, #email {
    margin-bottom: 30px;
}

#topbar {
    position: absolute;
    left: 0px;
    z-index: -1px;
    width: 1500px;
    height: 100px;
    background-color: blue;
}

#brief {
    margin-top: 20px;
    padding: 14px;
    border: 1px black solid;
    border-radius: 6px;
    background-color: #E4EDEA;
}

.introduction {
    margin-left: 400px;
}

#alexa_image {
    background-image: url('alexa2.jpg');
    width: 300px;
    height: 300px;
    background-size: 100%;
    margin-right: 20px;
    border-radius: 9px;
    float: left;
    margin-left: 30px;
}

.float_right {
    float: right;
}

.center {
    margin-top: 60px;
    margin-left: 250px;
}

.float_left {
    float: left;
}


.contact_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 34px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;

	margin-top: 67px;
	margin-left: 30px;
}
.contact_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.contact_button:active {
	position:relative;
	top:1px;
}
.contact_button:visited{
    color:#306108;
}

#sub_header {
    z-index: 100;
    font-size: 40px;
    line-height: 40px;

}
.sub_sub {
    font-size: 30px;
    line-height: 30px;
    margin-left: 240px;
    float: right;

}

/* This imageless css button was generated by CSSButtonGenerator.com */

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color: black;
}

.sf-menu a { /* visited pseudo selector so IE6 applies text colour*/
    padding: 0 1em;
}

.sf-menu ul li a {
    padding: .75em 1em;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.sf-menu ul li:first-child a {
    border-top: 1px solid black;
}

.sf-menu ul li:last-child a {
    border-bottom: 1px solid black;
}

.sf-menu li {
    background:	$offwhite;
}

// keeps the dropdown in place
.sf-menu li.sfHover ul {
    left: 0;
    top: 1.0em;
    z-index: 99;
    border-color: #676d84;
}

//drop down color
.sf-menu li.sfHover ul li {
    background-color: #676d84;
}

.sf-menu li.sfHover ul li a{
    border-width: 0;
}

#top_bar {
    @include jello-layout;
    height: $title_box_height;
    background-color: $offwhite;

}

#help_with {
    margin-left: 30px;
    margin-top: 100px;
}

#stripe {
    background-color: rgba(0, 0, 0, 0.2);
    padding-right: 100px;
    position: relative;
    left: -30px;
    width: 940px;
    padding-bottom: 60px;
}

#background {
    margin-top: 10px;
}