// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #231f20;
$title_bar_height: 140px;
$title_box_height: 60px;
$background_color: #dce0df;

body {
    margin: 0px;
    background: #dce0df; /* Old browsers */
    background: -moz-linear-gradient(top,  #dce0df 0%, #676d84 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dce0df), color-stop(100%,#676d84)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dce0df 50%,#676d84 120%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dce0df 0%,#676d84 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dce0df 0%,#676d84 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dce0df 0%,#676d84 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce0df', endColorstr='#676d84',GradientType=0 ); /* IE6-9 */
}

@mixin jello-layout {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@mixin default-font {
    font-family: "Palatino", "Georgia", "Baskerville", serif;
    font-size: 19px;
    line-height: 120%;
}

#content {
    @include jello-layout;
    @include default-font;
}

#black_bar {
    height: $title_bar_height;

}

#header_image {
    height: 210px;
    background-color: #323232;
    background-image: url('test.jpg');
    background-repeat:repeat-x;

}

#title {
    @include default-font;
    margin-left: 10px;
    font-size: 35px;
    font-weight: bold;
}

#title_text {
    color: $grey;
}


.header {
    font-size: 28px;
    font-weight: bold;
}

.nav_link {
    font-size: 20px;
    margin-left: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    background-color: #000;
    color: #000;
    height: 5px;
    border: none;
}

footer {
    margin-top: 100px;
    height: 150px;
    font-size: 30px;
}

#nav {

}

#inner_content {
    clear:right;
    padding: 10px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

a:visited {
    color: $grey;
}

a:link {
    color: $grey;
}

#tree_image {
    float: right;
    vertical-align: top;
}

.presenting_problem_group {
    font-size: 16px;

}

#presenting_problem_list {
    margin-top: 30px;
    ul {
	margin-top: 4px;
    }

    .header {
	font-size: 20px;
    }
}

#education {
    margin-bottom: 47px;

    li {
	margin-bottom: 10px;
	list-style-type: none;
	position: relative;
	left: -20px;
    }
}

#experience_text {
    padding-left: 20px;
}

p#second_p {
    margin-top: 30px;
    margin-left: 6px;
}

#alexa_picture {
    float: right;
    margin-left: 30px;
    margin-top: 24px;
}

#address {
    margin-left: 63px;
}

.padding {
    padding-left: 7px;
}

#google_map {
    float: right;
    margin-right: 100px;
}

#contact_info {
    margin-top: 120px;
    padding-top: 30px;
}

#phone, #email {
    margin-bottom: 30px;
}

#topbar {
    position: absolute;
    left: 0px;
    z-index: -1px;
    width: 1500px;
    height: 100px;
    background-color: blue;
}

#babypee {
    background-image: url('alexa2.jpg');
    width: 175px;
    height: 140px;
    float: left;
    margin-right: 20px;
    border-radius: 9px;
}

.float_right {
    float: right;
}

.center {
    margin-top: 60px;
    margin-left: 250px;
}

.float_left {
    float: left;
}


.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    background:	$background_color;
}

.sf-menu li li {
    background:	$background_color;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color: black;
}

.sf-menu a { /* visited pseudo selector so IE6 applies text colour*/
    color: black;
    padding: 0 1em;
}

.sf-menu ul {
}

.sf-menu ul li a {
    padding: .75em 1em;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.sf-menu ul li:first-child a {
    border-top: 1px solid black;
}

.sf-menu ul li:last-child a {
    border-bottom: 1px solid black;
}

.sf-menu li {
    background:	$background_color;
}

.sf-menu a {
    border-left: 1px solid $background_color;
    border-top:	1px solid $background_color;
    color: black;
}

.sf-with-ul {
    color: black;
}

.sf-menu li.sfHover ul {
    left: 0;
    top: 1.0em;
    z-index: 99;
    border-color: #676d84;
}

.sf-menu li.sfHover ul li {
    background-color: #676d84;


}

.sf-menu li.sfHover ul li a:hover {
    background-color: #474d64;

}

.sf-menu li.sfHover ul li a{
    border-width: 0;
}

#top_bar {
    @include jello-layout;
    height: $title_box_height;

}