// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #231f20;
$title_bar_height: 140px;
$title_box_height: 60px;
$background_color: #e4dbd2;

body {
    margin: 0px;
    background-color: $background_color;
}

@mixin jello-layout {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@mixin default-font {
    font-family: "Palatino", "Georgia", "Baskerville", serif;
    font-size: 19px;
    line-height: 120%;
}

#content {
    @include jello-layout;
    @include default-font;
}

#black_bar {
    height: $title_bar_height;

}

#title_container {
    height: 240px;
    background-color: #323232;
    background-image: url('test.jpg');
    background-repeat:repeat-x;

}

#title_float {

}

#title {
    @include default-font;
    margin-right: auto;
    padding-left: 420px;
    top: $title_bar_height - $title_box_height;
    font-size: 35px;
    font-weight: bold;
    height: $title_box_height;
    width: 350px;
    border-radius: 7px 7px 0px 0px;
    text-align: center;

}

#title_text {
    color: #939393;
    position: relative;
    top: 200px;
    left: -230px;
}


.header {
    font-size: 28px;
    font-weight: bold;
}

.nav_link {
    font-size: 20px;
    margin-left: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

    position: relative;
    top: -45px;

    a:link {
	color: #EEE;
    }

    a:visited {
	color: #CCC;
    }

}

#nav {
    padding-bottom: 50px;

background: #231f20; /* Old browsers */
background: -moz-linear-gradient(top,  #231f20 0%, #e4dbd2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#231f20), color-stop(100%,#e4dbd2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #231f20 0%,#e4dbd2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #231f20 0%,#e4dbd2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #231f20 0%,#e4dbd2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #231f20 0%,#e4dbd2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231f20', endColorstr='#e4dbd2',GradientType=0 ); /* IE6-9 */

}

#nav_area {
    margin-left: 825px;
}

#inner_content {
    margin-top: 30px;
    clear:right;
    background-color: #f9f9f9;
    padding: 20px;
    height: 790px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

a:visited {
    color: $grey;
}

a:link {
    color: $grey;
}

#tree_image {
    float: right;
    vertical-align: top;
}

.presenting_problem_group {
}

#presenting_problem_list {
    margin-top: 30px;
    ul {
	margin-top: 4px;
    }

    .header {
	font-size: 20px;
    }
}

#education {
    margin-bottom: 47px;

    li {
	margin-bottom: 10px;
	list-style-type: none;
	position: relative;
	left: -20px;
    }
}

#experience_text {
    padding-left: 20px;
}

p#second_p {
    margin-top: 30px;
    margin-left: 6px;
}

#alexa_picture {
    float: right;
    margin-left: 30px;
    margin-top: 24px;
}

#address {
    margin-left: 63px;
}

.padding {
    padding-left: 7px;
}

#google_map {
    float: right;
    margin-right: 100px;
}

#contact_info {
    margin-top: 120px;
    padding-top: 30px;
}

#phone, #email {
    margin-bottom: 30px;
}

#topbar {
    position: absolute;
    left: 0px;
    z-index: -1px;
    width: 1500px;
    height: 100px;
    background-color: blue;
}

#babypee {
    background-image: url('alexa2.jpg');
    width: 175px;
    height: 140px;
    float: left;
    margin-right: 20px;
    border-radius: 9px;
}

.float_right {
    float: right;
}

.center {
    margin-top: 60px;
    margin-left: 250px;
}

.float_left {
    float: left;
}