// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #747474;
$title_bar_height: 130px;
$title_box_height: 60px;

body {
    margin: 0px;
    background-color: #efefef;
}

@mixin jello-layout {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@mixin default-font {
    font-family: 'Marcellus', sans-serif;
    font-size: 19px;
    line-height: 120%;
}

#content {
    @include jello-layout;
    @include default-font;
}

#black_bar {
    height: $title_bar_height;
    background-color: #2A2A2A;
}

#title_container {
    @include jello-layout;
}

#title_float {
    float: right;
}

#title {
    position: relative;
    top: $title_bar_height - $title_box_height;
    font-size: 40px;
    font-weight: bold;
    background-color: grey;
    height: $title_box_height;
    width: 350px;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
}

#title_text {
    position: relative;
    top: 15px;
}

#title_area { 
    height: 50px;
    background-color: black;
    
}

.header {
    font-size: 28px;
    font-weight: bold;
}

.nav_link {
    margin-bottom: 25px;
    font-size: 20px;
    float: right;
    margin-left: 20px;
}

#white_area {
    background-color: white;

}

#inner_content {
    clear:right;
    background-color: #efefef;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

a:visited {
    color: $grey;
}

a:link {
    color: $grey;
}

.tree_image {
    float: left;
}

.intro_text {
    margin-left: 470px;
    padding-top: 30px;
}

#education {
    margin-bottom: 47px;

    li {
	margin-bottom: 10px;
	list-style-type: none;
	position: relative;
	left: -20px;
    }
}

#experience_text {
    padding-left: 20px;
}

p#second_p {
    margin-top: 30px;
    margin-left: 6px;
}

#alexa_picture {
    float: right;
    margin-left: 30px;
    margin-top: 24px;
}

#address {
    margin-left: 63px;
}

.padding {
    padding-left: 7px;
}

#google_map {
    float: right;
    margin-right: 100px;
}

#contact_info {
    margin-top: 120px;
    padding-top: 30px;
}

#phone, #email {
    margin-bottom: 30px;
}

#topbar {
    position: absolute;
    left: 0px;
    z-index: -1px;
    width: 1500px;
    height: 100px;
    background-color: blue;
}