<div id="background" class="page">
  <div class="header">
    Education
  </div>
  <ul id="education">
    <li>
      New York Institute for Psychotherapy Training (NYIPT), Advanced Certificate
    </li>
    <li>
      New York University Silver School of Social Work, Masters in Social Work
    </li>
    <li>
      Georgetown University, BA in Psychology
    </li>
  </ul>
</div>
