<div id="contact">
  <div id="contact_info">
    <div class="header" style="margin-bottom: 20px;">
      Services
    </div>
    <table id="rates_table">
      <tbody>
        <tr>
          <td style="width: 330px">
            Individual Psychotherapy
          </td>
          <td>
            45 minutes
          </td>
        </tr>
        <tr>
          <td>
            Family Psychotherapy
          </td>
          <td>
            60 minutes
          </td>
        </tr>
        <tr>
          <td>
            Couples Psychotherapy
          </td>
          <td>
            60 minutes
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      I am an in-network provider for Empire Blue Cross/ Blue Shield. In addition, I am an out-of-network provider eligible for reimbursement by many PPO insurance plans and I offer a sliding scale fee on a as needed basis.
    </p>
  </div>
  <div class="header" style="margin-bottom: 20px;">
    Map
  </div>
  <div id="google_map">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=26+Court+Street+Brooklyn,NY&zoom=16&size=400x400&sensor=false&markers=color:red%7C26+Court+Street+11201"/>
  </div>
</div>
